$base-space: 8px;
$max-space: 100;

:root {
  --ba-spacing-default: $base-space;
  --ba-spacing-half: calc(#{$base-space} / 2);

  @for $i from 1 to $max-space + 1 {
    --ba-spacing-#{$i}x: calc(#{$base-space} * #{$i});
  }
}
